// Primary color: #267EF8
// Secondary color: #FFCB00
// Tertiary color: #00c6ae
// red >> #F95A2C

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  margin: 0 auto;
}

form * {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  border-radius: 5px;
}

button {
  //width: 90%;
  text-align: center;
  background-color: #ffcb00;
  color: black;
  padding: 10px;
  padding: 1em 4.5em;
  border-radius: 15px;
  border: 2px solid #18191f;
  box-shadow: 0px 4px 0px #18191f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* HOME VIEW ALL BOARD LIST */
.boards-list {
  display: flex;
  flex-wrap: wrap;
}

.header-image {
  padding: 3em 0;
  background-image: url('https://images.unsplash.com/photo-1507991854441-0529e7aaebb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;

  h1 {
    color: white;
    background-color: #00c6ae;
    padding: 20px;
    margin: 0;
  }
}

.header-weather-image {
  padding: 3em 0;
  background-image: url('https://images.unsplash.com/photo-1507991854441-0529e7aaebb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
}

.header-host-image {
  padding: 3em 0;
  background-image: url('https://images.unsplash.com/photo-1495819427834-1954f20ebb97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-position: bottom;
  background-size: cover;

  h1 {
    color: white;
    background-color: #FF89BB;
    padding: 20px;
    margin: 0;
  }
}



.map-link {
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
}

.map-link a {
  text-decoration: none;
}

.header-map-image {
  padding: 3em 0;
  background-image: url('https://images.unsplash.com/photo-1586996292898-71f4036c4e07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
}

.header-map-image h1 {
  color: white;
  background-color: #f95a2c;
  padding: 20px;
  margin: 0;
}

.filter-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;

  select {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: 0 5px;
    border: 2px solid black;
    border-radius: 10px;
  }

  a {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    border: 1px solid black;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffcb00;
    color: black;
  }
}

// Calendar

// Profile page & orders

.order-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 3px solid black;
  border-radius: 15px;
  margin: 10px;
}

.host-board {
  background-color: #f95a2c;
  height: 150px;

  p {
    padding-top: 2em;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    margin: 0;
  }
}

.map {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.weather-app {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fa1.mzstatic.com%2Fus%2Fr30%2FPurple18%2Fv4%2F58%2F78%2F21%2F587821b3-745d-27ab-ff3c-1e94db0606a9%2Fscreen696x696.jpeg&f=1&nofb=1");
  backgroud-size: 100%;
}