.welcome-container {
  height: 700px;
  background-image: url('https://images.unsplash.com/photo-1528163308254-5852067f0a1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 none;
  display: flex;
  flex-wrap: wrap;

  .welcome-title {
    text-align: left;
    width: 100%;
    padding-left: 2em;

    p {
      padding-top: 0;
      text-align: left;
    }

    h1 {
      font-size: 4em;
      color: black;
      margin-bottom: 0;
    }
  }

  .welcome-buttons {
    width: 100%;
    max-width: 500px;
    height: 550px;
    margin-left: 10px;

    .welcome-rent-button {
      height: 70px;
      background-color: #f95a2c;
      margin-bottom: 10px;
      margin-right: 10px;
      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 0;
      }
    }
    .welcome-host-button {
      height: 70px;
      background-color: #00c6ae;
      margin-bottom: 10px;
      margin-right: 10px;
      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 0;
      }
    }
    .welcome-chat-button {
      height: 70px;
      background-color: #18191f;
      margin-bottom: 10px;
      margin-right: 10px;
      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 0;
      }
    }
    .welcome-feel-button {
      height: 70px;
      background-color: #f2f2f2;
      margin-bottom: 10px;
      margin-right: 10px;
      a {
        text-decoration: none;
        color: #18191f;
        font-size: 16px;
        padding: 0;
      }
    }
  }
}
