.board-form {
  text-align: left;
  margin: auto;
  max-width: 500px;
  margin-left: 2em;

  p {
    width: 90%;
    font-size: 1.2em;
  }

  input,
  textarea {
    line-height: 3em;
    padding-left: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-left: 0;
    border-radius: 15px;
  }

  select {
    line-height: 1em;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-left: 0;
    border: 2px solid black;
    border-radius: 15px;
  }

  button {
    margin-left: 0;
    text-align: center;
    display: inline-block;
    align-items: center;
    font-size: 1em;
    margin-bottom: 1em;
  }

  #input-picture {
    background-color: #00c6ae;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1em;
  }
}

.board-host {
  map {
    max-width: 300px;
  }
}
