@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

.sign-in-container {
  margin-top: 3em;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
  }

  button {
    background-color: black;
  }
}
