nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1947e6;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 14px;

  a {
    margin-right: 20px;
  }
}

.nav-link {
  color: white;
  text-decoration: none;

  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid black;
    // box-shadow: 0px 4px 0px #18191f;
  }
}

.nav-prof-signout {
  display: flex;
  flex-direction: column;

  button {
    background-color: white;
    border: 1px solid black;
    padding: 0;
    box-shadow: none;
    padding: 3px;
    font-size: 7px;
    border-radius: 5px;
  }

  a {
    margin: 0;
  }
}
